body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #c64cc8; 
}

#container {
    margin: 90px auto;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#word-display {
    margin-bottom: 50px;
    font-size: 24px;
}

#guesses-left {
    margin-bottom: 10px;
}

#guess-input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #d2a7cc;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}
.button2 {
    padding: 8px 16px; 
    position:relative;
    cursor: pointer; 
    margin: 0 10px; 
    border: none; 
    border-radius: 4px; 
    background-color: #3e39da; 
    color: white; 
    font-size: 14px; 
    transition: background-color 0.3s; 
}

.button3 {
    padding: 8px 16px; 
    position:relative;
    cursor: pointer; 
    margin: 0 10px; 
    border: none; 
    border-radius: 4px; 
    background-color: #da3d3d; 
    color: white; 
    font-size: 14px; 
    transition: background-color 0.3s;
}
#add-word-button {
    display: block;
    position: fixed; 
    top: 480px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #d2a7cc;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-word-button:hover {
    background-color: #45a049;
}

.button:hover {
    background-color: #45a049;
}

#new-game-btn {
    display: none;
}

.word-list {
    margin: 5px auto;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.word-list div {
    margin-bottom: 20px; 
}

